<head>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>

<body>
    <header>
        <h1>Agent<span>list</span></h1>
        <h2>List of agents with their details, obtained using mongodb and express on node</h2>
    </header>
    <section class="form">
        <input type="text" id="findInput" placeholder="Search for agent" >
    </section>
    <table class="list">
        <tr class="headRow">
            <th class="firstName">
                First Name
            </th>
            <th class="lastName">
                Last Name
            </th>
            <th class="email">
                Email Id
            </th>
            <th class="agency">
                Agency Name
            </th>
        </tr>
    </table>
    
<script type="text/javascript" src="app.js"></script>
</body>